<div class="row">
  <div class="col-sm-6">
    <div>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">User Registration</h1>
      </div>
      <app-alert [visible]="isShowAlert" [type]="alertType" [msg]="alertMsg" (alertCloseEvent)="closeAlertBox()">
      </app-alert>
      <app-form *ngIf="isShowForm" [registerForm]="registerForm" (submitEvent)="submitForm($event)"></app-form>
      <div *ngIf="isShowAlert">
        <a routerLink="/login">Registered User/Login</a>
      </div>
      <br><br>
    </div>
  </div>
</div>